<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>


<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Station</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminDash">Home</a></li>
          <li class="breadcrumb-item">add Data</li>
          <li class="breadcrumb-item active">Station</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">


        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" >Station Details :</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="StationID" class="form-label" style="color: #de6b00;">StationID</label>
                  <input type="text" class="form-control inputs" id="StationID" >
                </div>
                <div class="col-md-6">
                    <label for="StationName" class="form-label" style="color: #de6b00;">Station Name</label>
                    <input type="text" class="form-control inputs" id="StationName" >
                  </div>
                  <div class="col-md-12">
                    <label for="StationAddress" class="form-label" style="color: #de6b00;">Station Address</label>
                    <input type="text" class="form-control inputs" id="StationAddress" >
                  </div>
                
                  <div class="col-12 text-left">
                  <button type="submit" id="submitButton" class="btn custom-btn">Submit</button>
                  <button type="reset" class="btn custom-btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>

    </section>

  </main><!-- End #main -->


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>
<script>
  document.getElementById('submitButton').addEventListener('click', function() {
      event.preventDefault();
      const StationID = document.getElementById('StationID').value;
      const StationName = document.getElementById('StationName').value;
      const StationAddress=document.getElementById('StationAddress').value;

      fetch('/TD/addStation', {
      method: 'POST',
      body: JSON.stringify({ StationID,StationName,StationAddress }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
      const result = data.Message;
       if(result[0].ResultMessage=='STATION ADDED SUCCESSFULLY')
          {window.location.href = '/stationsData';}
        else
        {
          console.log(result[0].ResultMessage);
          alert(result[0].ResultMessage);
        }

    })
    .catch(error => {
       
      console.error('Error:', error);
    });
      // You can perform further actions here, such as sending the data to the server via fetch() or XMLHttpRequest
  });
</script>

</html>