<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <div id="content">
<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Track</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminDash">Admin Dashboard</a></li>
          <li class="breadcrumb-item active">Add Track</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">


        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Track Details :</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">


                <div class="col-md-6">
                  <label for="inputStartStation" class="form-label" style="color: #de6b00;">Starting Station</label>
                  <select id="inputStartStation" class="form-select inputs selector" required>
                    <% Station.forEach((station) => { %>
                      <option value="<%= station.StationId %>"><%= station.StationName %></option>
                  <% }); %>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputEndStation" class="form-label" style="color: #de6b00;">Ending Station</label>
                  <select id="inputEndStation" class="form-select inputs selector" required>
                  <% Station.forEach((station) => { %>
                    <option value="<%= station.StationId %>"><%= station.StationName %></option>
                <% }); %>
              </select>
                </div>

                <div class="col-md-4">
                    <label for="Economy" class="form-label" style="color: #de6b00;">Economy Price</label>
                    <input type="text" class="form-control inputs" id="Economy" required>
                  </div>
                  <div class="col-md-4">
                    <label for="Business" class="form-label" style="color: #de6b00;">Business Price</label>
                    <input type="text" class="form-control inputs" id="Business" required>
                  </div>
                  <div class="col-md-4">
                    <label for="FirstClass" class="form-label" style="color: #de6b00;">FirstClass Price</label>
                    <input type="text" class="form-control inputs" id="FirstClass" required>
                  </div>
                  <div class="col-12 text-left">
                  <button type="submit" id="submitButton" class="btn custom-btn">Submit</button>
                  <button type="reset" class="btn custom-btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>

    </section>

  </main><!-- End #main -->

    <!-- Custom Alert Box Structure -->
<div id="alertModal" class="alert-modal">
  <div class="alert-content">
      <span class="alert-close" onclick="closeAlert()">&times;</span>
      <p id="alertMessage"></p>
      <button class="alert-btn" onclick="closeAlert()">OK</button>
  </div>
</div>


  <%- include('./partials/footer.ejs') %>
</div>

  <%- include('./partials/script.ejs') %>


<script>

  

        window.onload = function()
        {
        document.getElementById("content").style.opacity = '1'; // Fade in content
        };


  
    // Function to open the custom alert box
    function showAlert(message) {
        document.getElementById('alertMessage').innerText = message;
        document.getElementById('alertModal').style.display = 'flex';
    }

    // Function to close the custom alert box
    function closeAlert() {
        document.getElementById('alertModal').style.display = 'none';
    }

//******************************************


  document.getElementById('submitButton').addEventListener('click', function(event) {
      event.preventDefault();
      const Station1Id = document.getElementById('inputStartStation').value;
      const Station2Id = document.getElementById('inputEndStation').value;
      const Economy = document.getElementById('Economy').value;
      const Business = document.getElementById('Business').value;
      const FirstClass = document.getElementById('FirstClass').value;

      
      if (!Station1Id || !Station2Id || !Economy || !Business || !FirstClass) {
        //alert('Please fill out all required fields.');
        showAlert('Please fill out all required fields.');
        return;
      }

      if (Station1Id == Station2Id) {
        //alert('Please fill out all required fields.');
        showAlert('Starting and Ending Stations cannot be same :)');
        return;
      }
  
      fetch('/TD/addTrack', {
      method: 'POST',
      body: JSON.stringify({ Station1Id,Station2Id,Economy,Business,FirstClass }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
      const result = data.Message;
       if(result[0].ResultMessage=='TRACK ADDED SUCCESSFULLY')
          {window.location.href = '/stationsAndTracksData';}
        else
        {
          //console.log(result[0].ResultMessage);
          //alert(result[0].ResultMessage);
          showAlert(result[0].ResultMessage);
        }

    })
    .catch(error => {
       
      console.error('Error:', error);
    });
      // You can perform further actions here, such as sending the data to the server via fetch() or XMLHttpRequest
  });
</script>
</body>
</html>