<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>
<%- include('./partials/main.ejs') %>


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>

</html>