<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="DS">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>


  <section class="section contact">
    
    <div class="row gy-4">
      <div class="col-xl-6">
        <div class="row">

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link" href="addTrain">
                  <i class="bi bi-train-front"></i>
                  <span>Add Train</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link" href="addCarriage">
                  <i class="bi bi-node-plus"></i>
                  <span>Add Carriage</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="addStation">
                  <i class="bi bi-building-add"></i>
                  <span>Add Station</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="addTrack">
                  <i class="bi bi-bezier2"></i>
                  <span>Add Track</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="addRoute">
                  <i class="bi bi-calendar-plus"></i>
                  <span>Add Route</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="addStaff">
                  <i class="bi bi-person-fill-add"></i>
                  <span>Add Staff</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="trainsData">
                  <i class="bi bi-bus-front"></i>
                  <span>Trains Data</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="stationsData">
                  <i class="bi bi-building"></i>
                  <span>Stations Data</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="routesData">
                  <i class="bi bi-calendar-minus-fill"></i>
                  <span>Routes Data</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="ticketsData">
                  <i class="bi bi-calendar3"></i>
                  <span>Tickets Data</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="usersData">
                  <i class="bi bi-people"></i>
                  <span>Users Data</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="staffdata">
                  <i class="bi bi-database-fill"></i>
                  <span>Staff Data</span>
                </a>
              </li>
            </div>
          </div>


        </div>
      </div>
    </div>

  </section>





</main>


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>

</html>