<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Pilot</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminDash">Admin Dashboard</a></li>
          <li class="breadcrumb-item"><a href="crewData">Crew Data</a></li>
          <li class="breadcrumb-item active">Edit Pilot</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Pilot Details :</h5>

              <!-- Multi Columns Form -->

              <form class="row g-3">

                  <div class="col-md-6">
                    <label for="CrewId" class="form-label" style="color: #de6b00;">CrewId</label>
                    <input type="text" class="form-control inputs" id="CrewId" readonly placeholder="<%= CrewId %>">
                  </div>
                  <div class="col-md-6">
                    <label for="CrewName" class="form-label" style="color: #de6b00;">CrewName</label>
                    <input type="text" class="form-control inputs" id="CrewName" placeholder="<%= CrewName %>" >
                  </div>
                  <div class="col-md-6">
                    <label for="Address" class="form-label" style="color: #de6b00;">Address</label>
                    <input type="text" class="form-control inputs" id="Address" placeholder="<%= Address %>" >
                  </div>
                  <div class="col-md-6">
                    <label for="TrainId" class="form-label" style="color: #de6b00;">TrainId</label>
                    <select id="TrainId" class="form-select inputs selector">
                      <% Train.forEach((i) => { %>
                        <option value="<%= i.TrainId %>"><%= i.TrainId %></option>
                    <% }); %>
                    </select>
                  </div>

                  <div class="col-12 text-left">
                    <button type="submit" id="submitButton" class="btn custom-btn">Submit</button>
                    <button type="reset" class="btn custom-btn-secondary">Reset</button>
                  </div>

              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>

    </section>

  </main><!-- End #main -->


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>
<script>
  document.getElementById('submitButton').addEventListener('click', function() {
      event.preventDefault();
      const CrewId = document.getElementById('CrewId').placeholder;
      const CrewName = document.getElementById('CrewName').value !== '' ? document.getElementById('CrewName').value : document.getElementById('CrewName').placeholder;
        const Address = document.getElementById('Address').value !== '' ? document.getElementById('Address').value : document.getElementById('Address').placeholder;
        const TrainId = document.getElementById('TrainId').value;

    console.log(TrainId);
        
      fetch('/TD/editPilot', {
      method: 'POST',
      body: JSON.stringify({ CrewId,CrewName,Address,TrainId }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
      const result = data.Message;
       if(result[0].ResultMessage=='CREW UPDATED SUCCESSFULLY')
          {window.location.href = '/crewData';}
        else
        {
          console.log(result[0].ResultMessage);
          alert(result[0].ResultMessage);
        }

    })
    .catch(error => {
       
      console.error('Error:', error);
    });
      // You can perform further actions here, such as sending the data to the server via fetch() or XMLHttpRequest
  });
</script>

</html>