<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

<main id="main" class="main">

    <div class="pagetitle">
      <h1>Edit Train</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminDash">Admin Dashboard</a></li>
          <li class="breadcrumb-item"><a href="trainsData.ejs">Trains Data</a></li>
          <li class="breadcrumb-item active">Edit Train</li>
        </ol>



          <div>
            <div class="card-body">
              <h5>Train Update Form</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="inputName5" class="form-label" style="color: #de6b00;">TrainID</label>
                  <input type="text" class="form-control inputs" id="inputName5" readonly placeholder="<%= TrainId %>">
                </div>
                <div class="col-md-6">
                  <label for="inputState" class="form-label">UpDownStatus</label>
                  <select id="inputState" class="form-select inputs selector">
                    <option selected>UP</option>
                    <option>Down</option>

                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputArrivalStation" class="form-label" style="color: #de6b00;">Arrival Station</label>
                  <select id="inputArrivalStation" class="form-select inputs selector">
                    <% Station.forEach((station) => { %>
                      <option value="<%= station.StationId %>" <%= station.StationId === TrainId ? 'selected' : '' %>><%= station.StationName %></option>
                  <% }); %>
                  <label for="inputState" class="form-label">Depature Station</label>
                  </select>
                </div>
                <div class="col-md-6">
                  <label for="inputDepartureStation" class="form-label" style="color: #de6b00;">Depature Station</label>
                  <select id="inputDepartureStation" class="form-select inputs selector">
                    <% Station.forEach((station) => { %>
                      <option value="<%= station.StationId %>" <%= station.StationId === TrainId ? 'selected' : '' %>><%= station.StationName %></option>
                  <% }); %>
                  </select>
                </div>

                <div class="col-12 text-left">
                  <button type="submit" id="submitButton" class="btn custom-btn">Submit</button>
                  <button type="reset" class="btn custom-btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->
  <%- include('./partials/script.ejs') %>

</body>
<script>
  document.getElementById('submitButton').addEventListener('click', function() {
      event.preventDefault();
      const trainId = document.getElementById('inputName5').placeholder;
      const departureStation = document.getElementById('inputDepartureStation').value;
      const ArrivalStation = document.getElementById('inputArrivalStation').value;
      let upDownStatus = document.getElementById('inputState').value;
      if(upDownStatus=='UP')
        upDownStatus='1';
      else
        upDownStatus='0';
      console.log('Train ID:', trainId);
      console.log('arrival Station:', ArrivalStation);
      console.log('Departure Station:', departureStation);
      console.log('UpDown Status:', upDownStatus);
      fetch('/TD/editTrain', {
      method: 'POST',
      body: JSON.stringify({ trainId,departureStation,ArrivalStation,upDownStatus }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
       console.log(data);
       window.location.href = '/traindata';
    })
    .catch(error => {
       
      console.error('Error:', error);
    });
      // You can perform further actions here, such as sending the data to the server via fetch() or XMLHttpRequest
  });
</script>

</html>