<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="trainData.ejs">editCarriage</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">


        

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Multi Columns Form</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">  
              <div class="col-md-6">
                <label for="inputName5" class="form-label">CarriageId</label>
                <input type="text" class="form-control" id="inputName5">
            </div>
            
                <div class="col-md-6">
                  <label for="inputName5" class="form-label">TrainID</label>
                  <input type="text" class="form-control" id="inputName5">
                </div>
                
                <div class="col-md-6">
                  <label for="inputState" class="form-label">Type</label>
                  <select id="inputState" class="form-select">
                    <option selected>E</option>
                    <option>F</option>
                    <option>B</option>
                  </select>
                </div>
               
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>

    </section>

  </main><!-- End #main -->


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>

</html>