<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid rgb(66, 66, 66);
        padding: 10px;
        text-align: left;
    }
     th {
        background-color: #000000;
        font-weight: bold;
        color: rgb(255, 106, 0);
    }
    tr:hover {
        background-color: #262626;
    } 
    .edit-btn, .delete-btn {
        padding: 5px 10px;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.2s ease-in;
    }
    .delete-btn {
        background-color: #b40c00;
    }
    .edit-btn{
        background-color: #32c700;
    }
    .delete-btn:hover{
        background-color: #ec1000;
    }
    .edit-btn:hover{
        background-color: #40ff00;
    }

    .table-header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #888888;
        color: #ffffff;
        background-color: #000;
    }

    .search-btn {
        padding: 5px 10px;
        background-color: rgb(0, 187, 211);
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .search-btn:hover {
        background-color: #52d7ff;
    }
</style>
<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Staff Members Data</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="DS">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">General</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">


                <div class="container">
                <h2>Pilot Data</h2>
                <table>
                    <thead>
                        <tr>
                            <th>CrewId</th>
                            <th>CrewName</th>
                            <th>Address</th>
                            <th>DateOfBirth</th>
                            <th>TrainID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Pilot.forEach((i)=>{ %>
                            <tr data-pilot-id="<%= i.CrewId[0] %>">
                                <td><%= i.CrewId[0] %></td>
                                <td><%= i.CrewName %></td>
                                <td><%= i.Address %></td>
                                <td><%= i.DateOfBirth.toISOString().split('T')[0] %></td>
                                <td><%= i.TrainId %></td>
                                <td>
                                    <button class="edit-btn" onclick="editPilot('<%= i.CrewId[0] %>')">Edit</button>
                                    <button class="delete-btn" onclick="deletePilot('<%= i.CrewId[0] %>')">Delete</button>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                </table>

            </div>
            <div class="container">
            <h2>Security Data</h2>
            <table>
                <thead>
                    <tr>
                        <th>CrewId</th>
                        <th>CrewName</th>
                        <th>Address</th>
                        <th>DateOfBirth</th>
                        <th>StationID</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <% Security.forEach((i)=>{ %>
                        <tr data-security-id="<%= i.CrewId[0] %>">
                            <td><%= i.CrewId[0] %></td>
                            <td><%= i.CrewName %></td>
                            <td><%= i.Address %></td>
                            <td><%= i.DateOfBirth.toISOString().split('T')[0] %></td>
                            <td><%= i.StationId %></td>
                            <td>
                            <button class="edit-btn" onclick="editSecurity('<%= i.CrewId[0] %>')">Edit</button>
                            <button class="delete-btn" onclick="deleteSecurity('<%= i.CrewId[0] %>')">Delete</button>
                        </td>
                        </tr>
                        <% }); %>


                    <!-- More rows here -->
                </tbody>
            </table>
            </div>
       

          
        </section>
    </main>
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>
<script>
function deleteSecurity(CrewId) {
    if (confirm('Are you sure you want to delete this CREW?')) {
       console.log(CrewId);
        fetch(`/TD/deleteCrew?CrewId=${CrewId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // Remove the corresponding row from the HTML table
                const rowToDelete = document.querySelector(`tr[data-security-id="${CrewId}"]`);
                if (rowToDelete) {
                    rowToDelete.remove();
                } else {
                    console.error('Failed to find the row to delete.');
                }
            } else {
                console.error('Failed to delete Crew');
                alert('Failed to delete station. Please try again later.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again later.');
        });
    }
}

function deletePilot(CrewId) {
    if (confirm('Are you sure you want to delete this CREW?')) {
       console.log(CrewId);
        fetch(`/TD/deleteCrew?CrewId=${CrewId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // Remove the corresponding row from the HTML table
                const rowToDelete = document.querySelector(`tr[data-pilot-id="${CrewId}"]`);
                if (rowToDelete) {
                    rowToDelete.remove();
                } else {
                    console.error('Failed to find the row to delete.');
                }
            } else {
                console.error('Failed to delete Crew');
                alert('Failed to delete station. Please try again later.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred. Please try again later.');
        });
    }
}


</script>
</html>

