<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>
<style>
  /* CSS */
#inputName5 {
    /* Style the input field to make it visually distinct */
    color: #555; /* Example text color */
    background-color: #f9f9f9; /* Example background color */
    border: 1px solid #ddd; /* Example border */
    /* Add any other styles as needed */
}

</style>
<main id="main" class="main">

    <div class="pagetitle">
      <h1 style="color: rgb(219, 135, 56);">Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="DS">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">


        

          <div class="card" style="color: rgb(219, 135, 56);">
            <div class="card-body">
              <h5 class="card-title" style="color: rgb(219, 135, 56);" >Add Station Form</h5>

              <!-- Multi Columns Form -->
              <form class="row g-3">
                <div class="col-md-6">
                  <label for="StationID" class="form-label">StationID</label>
                  <input type="text" class="form-control" id="StationID" >
                </div>
                <div class="col-md-6">
                    <label for="StationName" class="form-label">Station Name</label>
                    <input type="text" class="form-control" id="StationName" >
                  </div>
                  <div class="col-md-12">
                    <label for="StationAddress" class="form-label">Station Address</label>
                    <input type="text" class="form-control" id="StationAddress" >
                  </div>
                
                <div class="text-center">
                  <button type="submit" id="submitButton" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End Multi Columns Form -->

            </div>
          </div>


        </div>

    </section>

  </main><!-- End #main -->


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>
<script>
  document.getElementById('submitButton').addEventListener('click', function() {
      event.preventDefault();
      const StationID = document.getElementById('StationID').value;
      const StationName = document.getElementById('StationName').value;
      const StationAddress=document.getElementById('StationAddress').value;

      fetch('/TD/addStation', {
      method: 'POST',
      body: JSON.stringify({ StationID,StationName,StationAddress }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
      const result = data.Message;
       if(result[0].ResultMessage=='STATION ADDED SUCCESSFULLY')
          {window.location.href = '/stationData';}
        else
        {
          console.log(result[0].ResultMessage);
          alert(result[0].ResultMessage);
        }

    })
    .catch(error => {
       
      console.error('Error:', error);
    });
      // You can perform further actions here, such as sending the data to the server via fetch() or XMLHttpRequest
  });
</script>

</html>