<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<style>
     body {
        font-family: Comfortaa, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid rgb(66, 66, 66);
        padding: 10px;
        text-align: left;
    }
     th {
        background-color: #000000;
        font-weight: bold;
        font-family: ubuntu, sans-serif;
        color: rgb(255, 106, 0);
    }
    tr:hover {
        background-color: #1a1a1a;
    } 
    .edit-btn, .delete-btn {
        padding: 5px 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 0.9em;
        margin-right:5px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.2s ease-in;
    }
    .delete-btn {
        background-color: #b40c00;
    }
    .edit-btn{
        background-color: #32c700;
    }
    .delete-btn:hover{
        background-color: #ec1000;
    }
    .edit-btn:hover{
        background-color: #40ff00;
    }

    .table-header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border-radius: 10px;
        outline: none;
        border: 2px solid #888888;
        color: #ffffff;
        background-color: #000;
    }

    .search-input:focus {
	border-color: #de6b00;
	-webkit-box-shadow: none;
	box-shadow: none;
    }

    .search-input:enabled{
	background-color: #000;
	color:white;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
    }


    .search-btn {
        padding: 5px 10px;
        background-color: #7700ff;
        color: #000000;
        font-weight:bold;
        border: none;
        font-size: 0.9em;
        margin-left: 0.3em;
        transition: all 0.2s ease-in;
        cursor: pointer;
        border-radius: 30px;
    }

    .search-btn:hover {
        background-color: #9a42ff;
    }

    @media screen and (max-width: 650px) {
    th, td {
        font-size: 0.8em;
    }
    .edit-btn, .delete-btn {
        font-size: 0.8em;
    }
    .search-btn{
        font-size: 0.8em;
    }
    input{
        font-size: 0.8em;
    }
}
</style>
<body>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>Stations And Tracks Data</h1>
        <nav>
            <ol class="breadcrumb">
            
                <li class="breadcrumb-item"><a href="adminDash">Admin Dashboard</a></li>
                <li class="breadcrumb-item active">Stations And Tracks Data</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">


                <div class="container">
                <h2>Stations Data</h2>
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>StationID</th>
                            <th>StationName</th>
                            <th>Address</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Station.forEach((i)=>{ %>
                            <tr data-station-id="<%= i.StationId %>">
                                <td><%= i.StationId %></td>
                                <td><%= i.StationName %></td>
                                <td><%= i.Address %></td>
                                <td>
                                    <!--if we donot pass parameter name correctly meaning if undefined name is used then function will not be called simply and also no error will be shown in terminal so keep this in mind! -->
                                    <button class="edit-btn" onclick="editStation('<%= i.StationId %>','<%= i.StationName %>','<%= i.Address %>')">edit</button>                                     
                                    <button class="delete-btn" onclick="confirmDeleteStation('<%= i.StationId %>')">delete</button>
                                   
                                </td>
                            </tr>
                            <% }); %>


                        <!-- More rows here -->
                    </tbody>
                </table>
                </div>
            </div>



            <div class="container">
                <h2>Tracks Data</h2>
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>TrackID</th>
                            <th>StationID</th>
                            <th>StationID</th>
                            <th>Economy</th>
                            <th>Business</th>
                            <th>FirstClass</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Track.forEach((i)=>{ %>
                            <tr data-track-id="<%= i.TrackId[0] %>">
                                <td><%= i.TrackId[0] %></td>
                                <td><%= i.Station1Id %></td>
                                <td><%= i.Station2Id %></td>
                                <td><%= i.Economy %></td>
                                <td><%= i.Business %></td>
                                <td><%= i.FirstClass %></td>
                                <td>
                                    
                                    <button class="edit-btn" onclick="editTrack('<%= i.TrackId[0] %>','<%= i.Economy %>','<%= i.Business %>','<%= i.FirstClass %>')">edit</button>
                                    <button class="delete-btn" onclick="confirmDeleteTrack('<%= i.TrackId[0] %>')">delete</button>
                                  
                                </td>
                            </tr>
                            <% }); %>


                        <!-- More rows here -->
                    </tbody>
                </table>
                </div>
            </div>




        </section>
    </main>

    <!-- Modal Structure -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <!-- <span class="close" onclick="closeModal()">&times;</span> -->
        <p>Are you sure you want to delete?</p>
        <div class="modal-buttons">
            <button class="confirm-btn" id="confirmDelete">Yes</button>
            <button class="cancel-btn" onclick="closeModal()">No</button>
        </div>
    </div>
</div>


<!-- Custom Alert Box Structure -->
<div id="alertModal" class="alert-modal">
    <div class="alert-content">
        <span class="alert-close" onclick="closeAlert()">&times;</span>
        <p id="alertMessage"></p>
        <button class="alert-btn" onclick="closeAlert()">OK</button>
    </div>
</div>


  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

<script>

let deleteFunction;  // Function to call on confirmation

function confirmDeleteStation(StationId) {
    deleteFunction = () => deleteStation(StationId);  //setting to appropriate delete func not calling here...
    openModal();
}

function confirmDeleteTrack(TrackId) {
    deleteFunction = () => deleteTrack(TrackId);  //setting to appropriate delete func not calling here...
    openModal();
}

function openModal() {
    document.getElementById('deleteModal').style.display = 'flex';
}

function closeModal() {
    document.getElementById('deleteModal').style.display = 'none';
}

document.getElementById('confirmDelete').addEventListener('click', function() {
    deleteFunction();
    closeModal();
});


//******************************************

// Function to open the custom alert box
function showAlert(message) {
    document.getElementById('alertMessage').innerText = message;
    document.getElementById('alertModal').style.display = 'flex';
}

// Function to close the custom alert box
function closeAlert() {
    document.getElementById('alertModal').style.display = 'none';
}

//******************************************



function editTrack(TrackId, Economy, Business, FirstClass) {
    window.location.href = `/editTrack?TrackID=${TrackId}&Economy=${Economy}&Business=${Business}&FirstClass=${FirstClass}`;
}

function editStation(StationId, StationName, Address) {
    window.location.href = `/editStation?StationId=${StationId}&StationName=${StationName}&Address=${Address}`;
}

function deleteStation(StationId) {
        fetch(`/TD/deleteStation?StationId=${StationId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // Remove the corresponding row from the HTML table
                const rowToDelete = document.querySelector(`tr[data-station-id="${StationId}"]`);
                if (rowToDelete) {
                    rowToDelete.remove();
                } else {
                    console.error('Failed to find the row to delete.');
                }
            } else {
                console.error('Failed to delete station');
                //alert('Failed to delete station. Please try again later.');
                showAlert('Failed to delete station. Please try again later.');

            }
        })
        .catch(error => {
            console.error('Error:', error);
            //alert('An error occurred. Please try again later.');
            showAlert('An error occurred. Please try again later.');
        });
}


function deleteTrack(TrackId) {
        fetch(`/TD/deleteTrack?TrackId=${TrackId}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                // Remove the corresponding row from the HTML table
                const rowToDelete = document.querySelector(`tr[data-track-id="${TrackId}"]`);
                if (rowToDelete) {
                    rowToDelete.remove();
                } else {
                    console.error('Failed to find the row to delete.');
                }
            } else {
                console.error('Failed to delete track');
                //alert('Failed to delete station. Please try again later.');
                showAlert('Failed to delete track. Please try again later.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            //alert('An error occurred. Please try again later.');
            showAlert('An error occurred. Please try again later.');

        });
}

</script>
</body>
</html>