<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Trains</title>
    <link rel="stylesheet" href="/stylesheets/admin_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h3 class="Heading">Available Trains </h3>
    <table class="table-body">
        <tr>
            <th>TrainID</th>
            <th>UpDownStatus</th>
            <th>DeptStation</th>
            <th>ArrivalStation</th>
            <th>Dept Time</th>
            <th>Arrival Time</th>
        </tr>
        
        <% Trains.forEach((i)=>{ %>
        <tr>
            <td><%= i.TrainId %></td>
            <%if(i.UPStatus==1){ %>
            <td>Up</td>
            <% }else {%>
            <td>Down</td>
            <% }%>
            <td><%= i.DeptStation %></td>
            <td><%= i.ArrivalStation %></td>
            <td><%= i.Station2Id %></td>
            <td><%= i.DeptTime %></td>
            <td><%= i.ArrivalTime %></td>
        </tr>
        <% }); %>
    </table>
</div>

</body>
</html>