
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Trains</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Style+Script&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
    <h3 class="mb-4">Available Trains </h3>
    <form action="/bookTicketNonStop"  method="POST" id="NonStopTrainForm">
        <table class="table table-dark table table-bordered table-hover"  id="NonStopTrainsTable">
        <caption>Non-Stop Trains</caption>
        
        <thead class=" table-dark">
            <th>#</th>
            <th>TrainID</th>
            <th>UpDown Status</th>
                <th>Dept Station</th>
                <th>Arrival Station</th>
                <th>Dept Time</th>
            <th>Arrival Time</th>
            <th>Ticket Type</th>
        </thead>
        
        <% Trains.forEach((i) => { %>
            <tr>
              <td>  <input class="form-check-input" type="radio" name="selectedTrainID" value="<%= i.TrainId %>"> </td>
                <input  type="hidden" name="TrackID" value="<%= i.TrackId %>">
                <td><%= i.TrainId %></td>
                <% if(i.UPStatus == 1) { %>
                    <td>Up</td>
                <% } else { %>
                    <td>Down</td>
                    <% } %>  

                    
                    <td ><%= i.DeptStation %></td>
                    <td><%= i.ArrivalStation %></td>
                <td><%= i.DeptTime %></td>
                <td><%= i.ArrivalTime %></td>
                <td>
                    
                    <table> 
                        <tr>
                            <td>Economy:</td>
                            <td><%= i.Economy%></td>
                        </tr>
                        
                        <tr>
                            <td>Bussiness:</td>
                            <td><%= i.BusinessClass%></td>
                        </tr>
        
                        <tr>
                            <td>First Class:</td>
                            <td><%=i.FirstClass%></td>
                        </tr>
        
                    </table>
                </td>
            </tr>
            <% }); %>
            
        </table>
    </form>
    <div class="col-sm-10">
        <select class="form-select" id="NonStopsClass" name="selectedClass">
            <option>Economy</option>
            <option>Bussiness</option>
            <option>First Class</option>
        </select>
    </div>
    <button class="btn btn-primary" onclick="bookTicket()"> Book Ticket</button>



    <h3 class="Heading">Trains with Stops</h3>
    <table  class="table table-dark table table-bordered table-hover " >
        <tr>
            <th>TrainID</th>
            <th>UpDownStatus</th>
            <th>DeptStation</th>
            <th>ArrivalStation</th>
            <th>Dept Time</th>
            <th>Arrival Time</th>
            <th>Ticket Type</th>

        </tr>
        
        <% TrainsWithStops.forEach((i) => { %>
            <tr>
                <td><%= i.TrainId %></td>
                <% if(i.UPStatus == 1) { %>
                    <td>Up</td>
                <% } else { %>
                    <td>Down</td>
                <% } %>
                <td><%= i.DeptStation %></td>
                <td><%= i.ArrivalStation %></td>
                <td><%= i.DeptTime %></td>
                <td><%= i.ArrivalTime %></td>
                <td>
                    
                    <table> 
                        <tr>
                            <td>Economy:</td>
                            <td><%= i.Economy%></td>
                        </tr>
                        
                        <tr>
                            <td>Bussiness:</td>
                            <td><%= i.BusinessClass%></td>
                        </tr>
        
                        <tr>
                            <td>First Class:</td>
                            <td><%=i.FirstClass%></td>
                        </tr>
        
                    </table>
                </td>
            </tr>
        <% }); %>
    </table>
    <select class="form-select" id="StopsClass" name="selectedClass">
        <option>Economy</option>
        <option>Bussiness</option>
        <option>First Class</option>
    </select>
    <button class="btn btn-primary">Bookk Ticket</button>

</div>

<script>
    function bookTicket() {
        var NonStopForm=document.getElementById('NonStopTrainForm');
        const selectedClass=document.getElementById("NonStopsClass");
        NonStopForm.appendChild(selectedClass);
        NonStopForm.submit();
          }
</script>

</body>
</html>
