<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<body>
<!--# -----------------preloader----------------- -->
<!-- initially the loader will be displaying -->
<div id="preloader"></div>  
<div id="content">
<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>


<main id="main" class="main">
  
  <div class="pagetitle dash-title">
    <h1>User Dashboard</h1>
  </div><!-- End Page Title -->

  <section class="section contact">
    
    <div class="row gy-4">
      <div class="col-xl-12">
        <div class="row">

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link" href="showTicketsOfUser">
                  <i class="bi bi-card-list"></i>
                  <span>My Bookings</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="/SearchTrainform">
                  <i class="bi bi-ticket"></i>
                  <span>Book Ticket</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="profile">
                  <i class="bi bi-person"></i>
                  <span>My Profile</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="contact">
                  <i class="bi bi-envelope"></i>
                  <span>Contact Us</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="faq">
                  <i class="bi bi-question-circle"></i>
                  <span>FAQs</span>
                </a>
              </li>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="info-box card">
              <li class="card-item">
                <a class="card-link collapsed" href="logout">
                  <i class="bi bi-box-arrow-left"></i>
                  <span>Log Out</span>
                </a>
              </li>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>


</main><!-- End #main -->

<%- include('./partials/footer.ejs') %>
</div>

<%- include('./partials/script.ejs') %>
<script>
window.onload = function()
{
document.getElementById("preloader").style.display='none';
document.getElementById("content").style.opacity = '1'; // Fade in content

};

</script>
</body>
</html>
