<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">

<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="userDash">User Dashboard</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="/assets/img_and_gif/profilePic.png" alt="Profile" class="rounded-circle">
              <h2><%= userCredentials.username %></h2>
              
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8"><%= userCredentials.username %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">CNIC</div>
                    <div class="col-lg-9 col-md-8"><%= userCredentials.cnic %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Password</div>
                    <div class="col-lg-9 col-md-8" id="orignalPassword"><%= userCredentials.password %></div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone No</div>
                    <div class="col-lg-9 col-md-8"><%= userCredentials.phone %></div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="/profileUpdate" method="POST">
                    
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-5 col-lg-6">
                        <input name="name" type="text" class="form-control inputs" id="fullName" value="<%= userCredentials.username %>">
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Phone No</label>
                      <div class="col-md-5 col-lg-6">
                        <input name="phone" type="text" class="form-control inputs" id="Job" value="<%= userCredentials.phone %>">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn custom-btn">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
  
                <div class="tab-pane fade pt-3 profile-change-password" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form action="/passwordChange" method="POST" onsubmit="return checkNewPassword()">

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-5 col-lg-6">
                        <input name="password" type="password" class="form-control inputs" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-5 col-lg-6">
                        <input name="newpassword" type="password" class="form-control inputs" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-5 col-lg-6">
                        <input name="renewpassword" type="password" class="form-control inputs" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn custom-btn">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

   <!-- Custom Alert Box Structure -->
   <div id="alertModal" class="alert-modal">
    <div class="alert-content">
        <span class="alert-close" onclick="closeAlert()">&times;</span>
        <p id="alertMessage"></p>
        <button class="alert-btn" onclick="closeAlert()">OK</button>
    </div>
</div>



  <%- include('./partials/footer.ejs') %>
  </div>
  <%- include('./partials/script.ejs') %>

  <script>

        window.onload = function()
        {
        document.getElementById("content").style.opacity = '1'; // Fade in content
        };


    // Function to open the custom alert box
    function showAlert(message) {
        document.getElementById('alertMessage').innerText = message;
        document.getElementById('alertModal').style.display = 'flex';
    }

    // Function to close the custom alert box
    function closeAlert() {
        document.getElementById('alertModal').style.display = 'none';
    }

//******************************************

    function checkNewPassword() {
      var orig_pass = document.getElementById("orignalPassword").innerText;;
      var curr_pass = document.getElementById("currentPassword").value;
      var new_pass = document.getElementById("newPassword").value;
      var renew_pass = document.getElementById("renewPassword").value;

      //console.log(orig_pass);
  

      //check if the entered current password is actually the orignal current password of the user
      if (curr_pass !== orig_pass) {
        //alert("the enterred password is not actual current password of the user");
        showAlert("Incorrect current password of user!")
        return false;
      }

      // Check if old pass and new pass are not same
      if (curr_pass === new_pass) {
        //alert("old and new passwords are same, Kindly make a new password");
        showAlert("old and new passwords are same, Kindly make a new password");
        return false;
      }
      if (new_pass !== renew_pass) {
        //alert("new passwords donot match with each other");
        showAlert("new passwords donot match with each other");

        return false;
      }

      // Check if password contains at least one digit and one character
      var digitRegex = /\d/;
      var charRegex = /[a-zA-Z]/;
      if (!digitRegex.test(new_pass) || !charRegex.test(new_pass)) {
      //alert("Password must contain at least one digit and one character.");
      showAlert("Password must contain at least one digit and one character.");
      return false;
    }
    
      return true;
    }
</script>


</body>

</html>
