<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" data-bs-theme="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">

    <link href="/assets/img_and_gif/icon.png" rel="icon">
    <title>RailSync</title>
    
</head>
<style>

/* font-family:'Playwrite DE Grund'; */
* {
    box-sizing: border-box;
}
#content {
    opacity: 0; 
    transition: opacity 1s ease-in-out;   /*Add transition for opacity  */
  }


:root {
      scroll-behavior: smooth;
    }

    *::selection{
      background:transparent;
    }

    /* Hide the default scrollbar */
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #1d1d1d;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #3f3f3f;
      border-radius: 40px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(137, 137, 137);
    }
    
html, body {
    height: 100%;
  margin: 0;
}
body {
  

  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  position: relative; /* Ensure overlay is positioned relative to body */
  }

  #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Adjust based on your modal's z-index */
    display: none; /* Initially hidden */
    transition: all 0.5s ease;
  }

  /* Adjust visibility of overlay based on modal open/close */
  .modal-open #overlay {
    display: block;
  }


.ticket-system {
  max-width: 385px;
  .top {
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-weight: normal;
      font-size: 1.6em;
      text-align: left;
      margin-left: 20px;
      margin-bottom: 50px;
      color: #fff;
    }
    .printer {
      width: 90%;
      height: 20px;
      border: 5px solid #525252;
      border-radius: 10px;
      box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
    }
  }

  .receipts-wrapper {
    overflow: hidden;
    margin-top: -10px;
    padding-bottom: 10px;
  }

  .receipts {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(-510px);

    animation-duration: 2.5s;
    animation-delay: 500ms;
    animation-name: print;
    animation-fill-mode: forwards;


    .receipt {
      padding: 25px 30px;
      text-align: left;
      min-height: 200px;
      width: 88%;
      background-color: #0f0f0f;
      border-radius: 10px 10px 20px 20px;
      box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);

      .airliner-logo {
        max-width: 150px;
      }

      .route {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
        
        .plane-icon {
          width: 30px;
          height: 30px;
          transform: rotate(90deg);
        }
        h2 {
          font-weight: 300;
          font-size: 2.2em;
          margin: 0;
          color:#de6b00;
        }
      }

      .details {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          display: flex;
          flex-direction: column;
          min-width: 70px;

          span {
            font-size: .8em;
            color: #00a6ff;
            font-weight: 800;
          }
          h3 {
            font-family:'Playwrite DE Grund';
            margin-top: 10px;
            margin-bottom: 25px;
            font-weight: 100;
          }
        }
      }

      &.qr-code {
        height: 110px;
        min-height: unset;
        position: relative;
        border-radius: 20px 20px 10px 10px;
        display: flex;
        align-items: center;

        &::before {
          content: '';
          /* background: linear-gradient(to right, #141414 50%, rgb(119, 119, 119) 50%); */
          background-size: 22px 4px, 100% 4px;
          height: 4px;
          width: 90%;
          display: block;
          left: 0;
          right: 0;
          top: -1px;
          position: absolute;
          margin: auto;
        }

        .qr {
          width: 70px;
          height: 70px;
          background: #fff;
        }

        
        .description {
          h2 {
            margin:0;   /* default margin zero*/
            font-weight: 300;
            color: #b4b4b4;
          }
          p {
            margin: 0;
            font-weight: 400;
        }
        }


      }

    }
  }



}
/* 
.receipt.qr-code .description h2 {
    text-align: center;
    width: 100%;
} */

.receipt.qr-code .description {
    display: flex;
    justify-content: center;
    width: 100%;
}


.confirmTicket-btn{
  font-size:0.97em;
	font-weight: 500;
	margin-bottom: 0em;
  background-color: transparent;
  border:none;
	color: #eeeeee;
	display: inline-block;
  font-family: 'Comfortaa',sans-serif;
	padding: 10px 10px;
	text-decoration: none;
	transition: color 0.75s,transform 0.95s;
  margin-left: 20px;
  margin-right: 0;
}
.confirmTicket-btn:hover, .confirmTicket-btn:focus{
  border: 2px solid #de6b00;
  border-radius: 100px;
	text-decoration: none;
	outline: none;
	transform: translateY(-0.2em);
  cursor:pointer;	
 }
 .confirmTicket-btn:active{
	transition:all 100ms;
	background-color: #ff830f;
	color:#000;
	transform:scale(0.96,0.96);
  box-shadow: 0 0.5em 0.7em -0.4em #de6b00;
 }

 .nextSeat-btn{
  font-size:0.97em;
	font-weight: 500;
	margin-bottom: 0em;
  background-color: transparent;
  border:none;
	color: #eeeeee;
	display: inline-block;
  font-family: 'Comfortaa',sans-serif;
	padding: 10px 10px;
	text-decoration: none;
	transition: color 0.75s,transform 0.95s;
  margin-right: 20px;
  margin-left: 0;

}
.nextSeat-btn:hover, .nextSeat-btn:focus{
  border: 2px solid #00a6ff;
  border-radius: 100px;
	text-decoration: none;
	outline: none;
	transform: translateY(-0.2em);
  cursor:pointer;	
 }
 .nextSeat-btn:active{
	transition:all 100ms;
	background-color: #54c3ff;
	color:#000;
	transform:scale(0.96,0.96);
  box-shadow: 0 0.5em 0.7em -0.4em #00a6ff;
 }
 

@keyframes print {
  0% {
    transform: translateY(-510px)
  }
  35% {
    transform: translateY(-395px);
  }
  70% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(0);
}
}


/* Custom Alert Box CSS */
#customAlert {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999; /* Ensure it is on top of other elements */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1a1a1a;
  padding: 20px;
  border: 2px solid #de6b00;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#customAlert h3 {
  margin: 0 0 20px;
  color: #fff;
}

#customAlert .alert-message {
  margin-bottom: 20px;
  font-family: 'comfortaa',sans-serif;
  color: #cccccc;
}

#customAlert .alert-buttons {
  display: flex;
  justify-content: center;

}

#customAlert .alert-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#customAlert .alert-buttons .ok-btn {
  background-color: #d36600;
  transition: all 0.3s ease;
  color: #000;
}

#customAlert .alert-buttons .ok-btn:hover {
  background-color: #ff820e;
}

#customAlert .alert-buttons .close-btn {
  background-color: #707070;
  transition: all 0.3s ease;
  color: #000;
}

#customAlert .alert-buttons .close-btn:hover {
  background-color: #3f3f3f;
}

#customAlert .close-btn-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  color: #d0d0d0;
}

#customAlert .close-btn-icon:hover {
  color: #ff820c;
}


.bottom-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
  background-color: #000;
}

.bottom-btn {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom:30px;
  background-color: #000;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  padding: 10px 20px;
  border-radius: 100px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-btn:hover, .bottom-btn:focus {
  color: #fe7b00;
}

.bottom-btn:active {
  color: #fe7b00;
  border:2px solid #de6b00;
}

</style>

<body>

<div id="content">

  <div id="overlay"></div>

  <main class="ticket-system">
    <div class="top">
    <h1 class="title">Wait a second, your ticket is being printed</h1>
    <div class="printer" >
    </div>
    <div class="receipts-wrapper">
      <% TicketInfo.forEach((i)=>{ %>
       <div class="receipts">
          <div class="receipt">
            
            <img src="/assets/img_and_gif/logo.png" alt="Rail Sync Logo" class="airliner-logo">
             <div class="route">
                <h2><%= i.DeptStaion %></h2>
                <h2><%= i.ArrivalStation %></h2> 
             </div>
             
           
             <div class="details">

                <div class="item">
                   <span>Passanger</span>
                   <h3><%= userName %></h3>
                </div>
                <div class="item">
                   <span>Train </span>
                   <h3 id="TrainID"><%= i.TrainId %></h3>
                </div>


                <div class="item">
                   <span>Departure</span>
                   <h3><%= i.DeptTime %></h3>
                </div>
                <div class="item">
                  <span>Carriage No</span>
                  <h3 id="CarriageID"><%= i.CarriageID %></h3>
               </div>
                <div class="item">
                  <span>Class</span>
                  <% if(inputClassType=='E'){ %>
                      <h3>Economy</h3>
                  <% } else if(inputClassType=='B'){ %>
                      <h3>Business</h3>
                  <% } else if(inputClassType=='F'){ %>
                      <h3>First Class</h3>
                  <% } %>
              </div>
                <div class="item">
                   <span>Price</span>
                   <% if(inputClassType=='E'){ %>
                    <h3><%= i.Economy %></h3>
                <% } else if(inputClassType=='B'){ %>
                    <h3><%= i.Business %></h3>
                <% } else if(inputClassType=='F'){ %>
                    <h3><%= i.FirstClass %></h3>
                <% } %>
                <input type="hidden" id="TrackID" value="<%=i.TrackId %>">
                </div>
                <div class="item">
                   <span>Seat</span>
                   <h3 id="SeatNo"><%= i.SeatNo %></h3>
                </div>
             </div>
          </div>

          <div class="receipt qr-code" style="margin-top: 10px; margin-bottom:20px; padding:5px 5px; border-radius: 30px;">
            
             <div class="description">
                
               <button class="nextSeat-btn" onclick="bookNextSeat()">Next Seat</button>
               <button class="confirmTicket-btn" onclick="ConfirmTicket()">Confirm Ticket</button>
                <!-- <p>Show QR-code when requested</p> -->
                <% }); %>   <!--for each end bracket-->
             </div>          
            
          </div>
          
       </div>
    </div>
    
 </div>

 <!-- Custom Alert Box -->
<div id="customAlert">
  <span class="close-btn-icon" onclick="closeCustomAlert()">✖</span>
  <h3 class="alert-heading"></h3>
  <p class="alert-message"></p>
  <div class="alert-buttons">
    <button class="ok-btn" onclick="closeCustomAlert()">OK</button>
  </div>
</div>

<div class="bottom-btn-container">
  <button class="bottom-btn" onclick="redirectToDashboad()">Return to Dashboard</button>
</div>

  </main>

</div>

 <script>

  window.onload = function()
  {
  document.getElementById("content").style.opacity = '1'; // Fade in content
  };


function redirectToDashboad(){
  window.location.href = '/userDash';
}

  //just to avoid booking of same ticket multiple times resulting multiple instances of the same ticket :p
  let isConfirmed = false;

  function ConfirmTicket()
  {

    if(!isConfirmed)
    {
    let SeatData={
      TrainId: document.getElementById("TrainID").innerHTML,
      CarriageId: document.getElementById("CarriageID").innerHTML,
      trackId: document.getElementById("TrackID").value,
      SeatNo: document.getElementById("SeatNo").innerHTML,
    };
    //console.log(SeatData);
    var jsonData=JSON.stringify(SeatData);
    if(jsonData)
    {   
        let option={
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:jsonData
        }

    fetch('/SearchTrain/ConfirmTicket',option)
        .then(response => response.json())
        .catch(err=> console.log(err))
        .then(data=>{
          //console.log(data);
          if(data.status==true){
          // alert("Your ticket is confirmed. Deposit the ticket fee at the departure station counter.");
            isConfirmed = true; // Update isConfirmed to true upon successful ticket confirmation
            showCustomAlert("Congrats!", "Your ticket is confirmed. Deposit the ticket fee at the departure station counter.");
          }
          else{
            showCustomAlert("Oops!", "Failed to Book Ticket.");
            // alert(":/ Failed to Book Ticket");
          }
        });

    }
    else{
        //alert("Invalid Action");
        showCustomAlert("Alert!", "Invalid Action");
    }



  }
  else{
    showCustomAlert("Note!", "Ticket already confirmed");
  }
  }



  function bookNextSeat(){
    location.reload();
  }

  // Show custom alert
function showCustomAlert(heading, message) {
  document.querySelector("#customAlert .alert-heading").innerText = heading;
  document.querySelector("#customAlert .alert-message").innerText = message;
  document.getElementById("customAlert").style.display = "block";
  document.body.classList.add('modal-open');

  
}

// Close custom alert
function closeCustomAlert() {
  document.getElementById("customAlert").style.display = "none";
  document.body.classList.remove('modal-open');

}


  
  </script>
</body>
</html>