<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<style>
body {
        font-family: Comfortaa, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid rgb(66, 66, 66);
        padding: 10px;
        text-align: left;
    }
     th {
        background-color: #000000;
        font-weight: bold;
        font-family: ubuntu, sans-serif;
        color: rgb(255, 106, 0);
    }
    tr:hover {
        background-color: #1a1a1a;
    } 
    .edit-btn, .delete-btn {
        padding: 5px 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 0.9em;
        margin-right: 5px;        
        margin-top: 5px;
        margin-bottom: 5px;
        border: none;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.2s ease-in;
    }
    .delete-btn {
        background-color: #b40c00;
    }
    .edit-btn{
        background-color: #32c700;
    }
    .delete-btn:hover{
        background-color: #ec1000;
    }
    .edit-btn:hover{
        background-color: #40ff00;
    }

    .table-header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border-radius: 10px;
        outline: none;
        border: 2px solid #888888;
        color: #ffffff;
        background-color: #000;
    }

    .search-input:focus {
	border-color: #de6b00;
	-webkit-box-shadow: none;
	box-shadow: none;
    }

    .search-input:enabled{
	background-color: #000;
	color:white;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
    }


    .search-btn {
        padding: 5px 10px;
        background-color: #7700ff;
        color: #000000;
        font-weight:bold;
        border: none;
        font-size: 0.9em;
        margin-left: 0.3em;
        transition: all 0.2s ease-in;
        cursor: pointer;
        border-radius: 30px;
    }

    .search-btn:hover {
        background-color: #9a42ff;
    }

    .table-responsive {
    overflow-x: auto;
    }

    @media screen and (max-width: 650px) {
    th, td {
        font-size: 0.8em;
    }
    .edit-btn, .delete-btn {
        font-size: 0.7em;
    }
}

</style>

<body>

    <%- include('./partials/header.ejs') %>
    <%- include('./partials/sidebar.ejs') %>
    
    <main id="main" class="main">
    
        <div class="pagetitle">
            <h1>My Bookings</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="userDash">User Dashboard</a></li>
                    <li class="breadcrumb-item active">My Bookings</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
    
        <section class="section">
    
            <div class="container">
                <h2>Current Bookings</h2>
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>TicketId</th>
                            <th>SeatNo</th>
                            <th>TotalPrice</th>
                            <th>DeptTime</th>
                            <th>RefundStatus</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ticketsUpcoming.forEach((ticket) => { %>
                            <tr>
                                <td><%= ticket.TicketId[0] %></td>  <!--[0] to get only one time ticketId because our join has given us more than one ticketId which are same as repetition-->
                                <td><%= ticket.SeatNo %></td>
                                <td><%= ticket.TotalPrice %></td>
                                <td><%= ticket.DeptTime %></td>
                                <td id="refund-status-<%= ticket.TicketId[0] %>">
                                    <% if (ticket.RefundStatus === 'R') { %>
                                        Refunded
                                    <% } else { %>
                                        Not Refunded
                                    <% } %>
                                </td>
                                <td>
                                    <button class="edit-btn" onclick="editTicket('<%= ticket.TicketId[0] %>', '<%= ticket.CarriageId %>', '<%= ticket.TrainId %>', '<%= ticket.SeatNo %>')">unbook</button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
              </div>
            </div>
    
            <div class="container">
                <h2>Previous Bookings</h2>
                <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>TicketId</th>
                            <th>SeatNo</th>
                            <th>TotalPrice</th>
                            <th>DeptTime</th>
                            <th>RefundStatus</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ticketsPrevious.forEach((ticket) => { %>
                            <tr>
                                <td><%= ticket.TicketId[0] %></td>
                                <td><%= ticket.SeatNo %></td>
                                <td><%= ticket.TotalPrice %></td>
                                <td><%= ticket.DeptTime %></td>
                                <td id="refund-status-<%= ticket.TicketId[0] %>">
                                    <% if (ticket.RefundStatus === 'R') { %>
                                        Refunded
                                    <% } else { %>
                                        Not Refunded
                                    <% } %>
                                </td>
                                <td>
                                    <button class="edit-btn" onclick="editTicket('<%= ticket.TicketId[0] %>', '<%= ticket.CarriageId %>', '<%= ticket.TrainId %>', '<%= ticket.SeatNo %>')">unbook</button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
              </div>
            </div>
    
        </section>

    </main>

     <!-- Custom Alert Box Structure -->
     <div id="alertModal" class="alert-modal">
        <div class="alert-content">
            <span class="alert-close" onclick="closeAlert()">&times;</span>
            <p id="alertMessage"></p>
            <button class="alert-btn" onclick="closeAlert()">OK</button>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
    
    <script>

     // Function to open the custom alert box
     function showAlert(message) {
        document.getElementById('alertMessage').innerText = message;
        document.getElementById('alertModal').style.display = 'flex';
    }

    // Function to close the custom alert box
    function closeAlert() {
        document.getElementById('alertModal').style.display = 'none';
    }

//******************************************

    function editTicket(TicketId, CarriageID, TrainID, SeatNo) {
        fetch('/UnbookTicket', {
            method: 'POST',
            body: JSON.stringify({ TicketId, CarriageID, TrainID, SeatNo }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const result = data.Message[0];
    
            if (result.ResultMessage === 'UNBOOKED SUCCESSFULLY') {

                // const refundStatusTd = document.querySelector(`td[data-refund-status="${TicketId}"]`);

                const refundStatusTd = document.getElementById(`refund-status-${TicketId}`);
                if (refundStatusTd) {
                    refundStatusTd.textContent = 'Refunded';   //basically is not not changing in the database its only frontend ui change for smooth updation
                }
    
                window.location.reload(); // Reload the page after successful unbooking
            } else {
                //alert('SOMETHING WENT WRONG');
                showAlert("something went wrong!");
            }
        })
        .catch(error => {
            console.error('Error:', error);
            //alert('Error occurred while processing the request');
            showAlert("Error occurred while processing the request");
        });
    }
    </script>
    
    </body>
    </html>