<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<style>
 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid rgb(66, 66, 66);
        padding: 10px;
        text-align: left;
    }
     th {
        background-color: #000000;
        font-weight: bold;
        color: rgb(255, 106, 0);
    }
    tr:hover {
        background-color: #262626;
    } 
    .edit-btn, .delete-btn {
        padding: 5px 10px;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.2s ease-in;
    }
    .delete-btn {
        background-color: #b40c00;
    }
    .edit-btn{
        background-color: #32c700;
    }
    .delete-btn:hover{
        background-color: #ec1000;
    }
    .edit-btn:hover{
        background-color: #40ff00;
    }

    .table-header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #888888;
        color: #ffffff;
        background-color: #000;
    }

    .search-btn {
        padding: 5px 10px;
        background-color: rgb(204, 211, 0);
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .search-btn:hover {
        background-color: #f5ff31;
    } body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #000000;
    }
    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #000000;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
     table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 60px; /* Adjust the value as needed */
    }
    th, td {
        border: 2px solid rgb(66, 66, 66);
        padding: 10px;
        text-align: left;
    }
     th {
        background-color: #000000;
        font-weight: bold;
        color: rgb(255, 106, 0);
    }
    tr:hover {
        background-color: #262626;
    } 
    .edit-btn, .delete-btn {
        padding: 5px 10px;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        border-radius: 10px;
        transition: background-color 0.2s ease-in;
    }
    .delete-btn {
        background-color: #b40c00;
    }
    .edit-btn{
        background-color: #32c700;
    }
    .delete-btn:hover{
        background-color: #ec1000;
    }
    .edit-btn:hover{
        background-color: #40ff00;
    }

    .table-header {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .search-input {
        flex: 1;
        margin-right: 10px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #888888;
        color: #ffffff;
        background-color: #000;
    }

    .search-btn {
        padding: 5px 10px;
        background-color: rgb(0, 187, 211);
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .search-btn:hover {
        background-color: #52d7ff;
    }

</style>
<body>

<%- include('./partials/header.ejs') %>
<%- include('./partials/sidebar.ejs') %>

    <main id="main" class="main">

        <div class="pagetitle">
        <h1>All Tickets</h1>
        <nav>
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="userDash">Home</a></li>
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">My Bookings</li>
            </ol>
        </nav>
        </div><!-- End Page Title -->

        <section class="section">


            <div class="container">
                <h2>Current Bookings</h2>
                <table>
                    <thead>
                        <tr>
                            <th>TicketId</th>
                            <th>SeatNo</th>
                            <th>TotalPrice</th>
                            <th>DeptTime</th>
                            <th>RefundStatus</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <% ticketsUpcoming.forEach((ticket)=>{ %>
                            <tr>
                                <td><%= ticket.TicketId %></td>
                                <td><%= ticket.SeatNo %></td>
								<td><%= ticket.TotalPrice %></td>
                                <td><%= ticket.DeptTime %></td>
                                <td><%= ticket.RefundStatus %></td>
                                
                                <td>
                                    <button class="edit-btn" onclick="editSeat('<%=ticket.TicketId[0]%>', '<%=ticket.TrainId%>','<%=ticket.CarriageId%>','<%= ticket.SeatNo %>')">UNBOOK</button>
                                </td>.SeatNo}
                            </tr>
                        <% }); %>


                        <!-- More rows here -->
                    </tbody>
                </table>
            </div>


            <div class="container">
                <h2>Previous Bookings</h2>
                <table>
                    <thead>
                        <tr>
                            <th>TicketId</th>
                            <th>SeatNo</th>
                            <th>TotalPrice</th>
                            <th>DeptTime</th>
                            <th>RefundStatus</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ticketsPrevious.forEach((ticket)=>{ %>
                            <tr>
                                <td><%= ticket.TicketId[0] %></td>
                                <td><%= ticket.SeatNo %></td>
								<td><%= ticket.TotalPrice %></td>
                                <td><%= ticket.DeptTime %></td>
                                <td><%= ticket.RefundStatus %></td>
                                <td>
                                    <button class="edit-btn" onclick="editTicket('<%=ticket.TicketId[0]%>', '<%=ticket.CarriageId%>','<%=ticket.TrainId%>','<%= ticket.SeatNo %>')">UNBOOK</button>
                                </td>
                            </tr>
                        <% }); %>


                        <!-- More rows here -->
                    </tbody>
                </table>
            </div>

        </section>
    </main>
  <%- include('./partials/footer.ejs') %>
  <%- include('./partials/script.ejs') %>

</body>
<script>
  function editTicket(TicketId,CarriageID, TrainID, SeatNo) {
    fetch('/UnbookTicket', {
        method: 'POST',
        body: JSON.stringify({TicketId, CarriageID, TrainID, SeatNo }),
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {

        const result = data.Message[0];

        rows.forEach(row => {

        if (result.ResultMessage == 'UNBOOKED SUCCESSFULLY') {
            const refundStatusTd = document.querySelector(`td[data-refund-status="${TicketId}"]`);
            if (refundStatusTd) {
                refundStatusTd.textContent = 'R';
            }
        }else{
            alert('SOMETHING WENT WRONG');
        }
        });
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
</script>
</html>